.main {
    margin-top: 25px;
}
.wrapper,.wrapper-1,.wrapper-2,.wrapper-3{
    /* border: 1px solid red; */
}
hr{
    display: none;
    border: 1px solid black;
}

.product, .seller{
    margin-bottom: 5px;
    font-weight: 600;
}

.product-description {
    width: inherit;
    margin-bottom: 30px;
    margin-top: 25px;
}

.review, .rating{
    margin-bottom: 15px;
}

.fa-star , .rating span {
    color: rgb(52, 247, 172);
    font-weight: 700;
}

.submit-review{
    border-bottom: 1px solid black;
    margin: 0px;
    padding-bottom: 2px;
}

.price{
    margin-bottom: 30px;
    margin-top: 30px;
}

.dispatch{
    margin-bottom: 10px;
}

.cart {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
}

.wishlist {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
} 




/* Start from here */







/* .wrapper-2 {
    display: flex;
    width: inherit;
    justify-content: space-between;
    flex-wrap: nowrap;
}
*/


/* .images{
    width: 525px;
    margin-right: 75px;
}
@media (max-width:1142px)
{
    .images{
        margin-right: 0px;
    }
}
@media (max-width:1142px) and (min-width: 1065px)
{
    .images{
        margin-right: 50px;
    }
    .about-product{
        margin-right: 50px;
    }
}




.fa-clock {
    background-color: white;
    color: black;
    margin-right: 10px;
    vertical-align:middle
}









.wrapper .small-image {
    margin-right: 5px;
    float: left;
}

    
    .with-wrap{
        flex-wrap: wrap;
    }
    
    .about{
        flex-basis: 20%;
        /* margin-right: 150px; */
        /* padding: 50px; */
    /* }
     */
    /* .section {
        float: left;
    } */
    /* .description {
        text-align: justify;
    }

    
    .tweak{
        /* flex-wrap: wrap; */
        /* margin-top: 10px;
        width: 1125px;
        justify-content: space-between; }*/ 
    
    /* .return{
        margin-right: 0px;
    } */










/* complete for mobile devices*/



@media (max-width:600px){
    .main-image img {
        height: 470px;
        width: 100%;
    }
    .small-image img{
        width: 80px;
        height: 80px;
    }
    hr{
        margin-top: 30px;
        display: block;
    }
    .wrapper-2 {
        display: flex;
        width: inherit;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .wrapper{
        display: flex;
        flex-wrap: nowrap;
    }
    .secure,.delivery,.return{
        margin-top: 30px;
    }
    h4{
        margin: 0px;
    }
    .fa-box-open, .fa-wallet, .fa-shuttle-van{
        margin-right: 10px;
    } 
}


@media(min-width:577px) and (max-width:900px)
{
    .main-image{
        text-align: center;
    }
    .main-image img {
        height: 470px;
        width: 80%;
    }
    .small-image img{
        width: 80px;
        height: 80px;
    }
    hr{
        margin-top: 30px;
        display: block;
        width: 80%;
    }
    .wrapper-2 {
        display: flex;
        width: 80%;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: auto;
    }
    .about-product{
        width: 80%;
        margin: auto;
    }
    .wrapper-3{
        width: 80%;
        margin: auto;
    }
    .wrapper{
        display: flex;
        flex-wrap: nowrap;
    }
    .secure,.delivery,.return{
        margin-top: 30px;
    }
    h4{
        margin: 0px;
    }
    .fa-box-open, .fa-wallet, .fa-shuttle-van{
        margin-right: 10px;
    }    
}

@media(min-width:901px)
{
    .wrapper-1{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 80%;
        margin: auto;
    }
    .images{
        flex-basis: 50%;
        margin-right: 50px;
    }
    .about-product{
        flex-basis:50%;
    }
    .main-image img {
        height: 470px;
        width: 100%;
    }
    .small-image img{
        width: 80px;
        height: 80px;
    }
    .wrapper-2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
    }
    .wrapper-3{
        display: flex;
        flex-wrap: nowrap;
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    .about{
        flex-basis: 20%;
    }
    .secure,.delivery{
        margin-right: 110px;
    }
    .wrapper{
        display: flex;
        flex-wrap: nowrap;
    }
    h4{
        margin: 0px;
    }
    .fa-box-open, .fa-wallet, .fa-shuttle-van{
        margin-right: 10px;
    } 
}

@media (min-width:901px) and (max-width:1070px){
    .wrapper-1,.wrapper-3{
        width: 90%;
    }
    .about{
        flex-basis: 30%;
    }

}